p{
    margin: 0;
}

.requiest_item {
    width: 100%;
}
.body{
}
.requiest_title{
    margin-bottom: .7rem;
    font-size: 22px;
    font-size: 700;
}
.requiest_white_card{
    padding: .3rem 6px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}
.requiest_white_card p{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 5px solid rgb(61, 206, 254);
}

.requiest_params_body{
    padding: 1.5rem .5rem;
}

.btn-group{
    margin-bottom: 1rem;
    width: 100%;
    font-size: 16px;
}
.btn.btn-info{
    color: white;
}
.btn-group>.btn{
    width: 100%;
    justify-content: center;
}