.requiest_query {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    padding: .5rem 0 1rem;
    min-width: 100%;
}
.name_container{
    min-width: 150px;
}
.name_container p:last-child{
    color: gray;
}
.name_container p:first-child, .description_container p:first-child{
    margin-bottom: .4rem;
    font-size: 16px;
    font-weight: 500;
}

@media(min-width: 768px){
    .requiest_query {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}