.request_query {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    padding: .5rem 0 1rem;
    min-width: 100%;
}

.description_container p:first-child{
    margin-bottom: .4rem;
    font-size: 16px;
    font-weight: 500;
}

.invalid{
    border: 2px solid red !important;
}
input:focus{
    outline: none;
}
.error{
    color: rgb(204, 0, 0);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-top: .2rem;
}
.input_group{
    display: flex;
    align-items: center;
}
@media(min-width: 768px){
    .request_query {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}