.delete_cross {
    position: absolute;
    top: 0;
    left: 100%;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    transform: translateX(50%);
}

.delete_cross:hover{
    transform: translateX(50%) scale(1.3,1.3);
}
