.Header{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: black;
    text-decoration: none;
    border: 2px solid #939393;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 200ms ease-in-out;
}
a:hover{
    color: black;
    text-decoration: none;
    border-color: blueviolet;
}

select,select:focus, select:focus-visible{
    padding: 3px 5px;
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(150, 53, 242);
}

select option{
    color: black;
}