
.wrapper{
    margin-bottom: 10px;
}

.input {
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    font-size: 18px;
}
.label{
    color: black;
    font-size: 12px;
    width: 100%;
    font-weight: bold;
}