.wrapper{
    width: 100%;
    padding: 10px 0;
}
.add_string {
    width: fit-content;
    display: block;
    font-size: 12px;
    color: #272727;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
    border: 2px solid rebeccapurple;
}

.add_string:hover{
    transform: scale(1.2,1.2);
    color: #9a29c0;
}

.start{
    margin: 0;
}
.center{
    margin: 0 auto;
}