.params_title{
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    padding-bottom: .5rem;
}
.params_title p:first-child{
    min-width: 150px;
}