.select, .select:focus, .select:focus-visible{
    padding: 3px 5px;
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(150, 53, 242);
}

.label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.option{
    color: black;
}
